@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
body{
    margin: 0;
}
main > section{
    max-width: 1440px;
    margin: 100px auto;
}
/* shared styles start */

.flex{
    display: flex;
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}
/* shared styles end */

/* header section start */
.nav-bar{
    justify-content: space-between;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.navigation li{
    list-style-type: none;
    margin-right: 50px;
}
.navigation li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}
.nav-bar , .banner{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.banner-content{
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}
.banner-content h2{
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 2rem;
}
.banner-content p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.btn{
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    margin-bottom: 2rem;
}
.banner-image img{
    max-width: 100%;
    margin-bottom: 45px;
}

/* header responsive */

@media screen and (max-width: 576px) {
    .nav-bar, .navigation{
        flex-direction: column;
    }
    .navigation{
        justify-content: flex-start;
        gap: 30px;
        padding: 0;
    }
    .navigation li a{
        font-size: 2rem;
        text-decoration: underline;
    }
}

/* header section end */
/* our features section start  */

.our-features{
    display: flex;
    align-items: center;
}
.features-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.features-content{
    padding-left: 4.3rem;
    max-width: 530px;
}
.features-content h3{
    font-size: 2.8rem;
}
#quick-list{
    font-weight: 500;
}
#of-our{
    font-weight: 700;
}
#features{
    color: #FF900E;
    font-weight: 700;
}
.features-content p{
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 2rem;
}
/* our features section end  */
